header{

 background-color: #FF0000;
 padding: 90px 0px;

}

.estampa{

	width: 940px;
	position: relative;
	margin: 0 auto;
}

.logo{

   height: 200px;
   position: relative;
   top: 0px;
   right: 120px;



}


nav li:hover{

	color: #000000;
	text-decoration: underline;
}


nav{

	position: absolute;
	top: 110px;
	right: 0px;

}

nav li{

	display: inline;
	margin: 0 0 15px;
}

nav li:hover{

	color: #000000;
	text-decoration: underline;
}

nav a{
	 text-transform: uppercase;
	 color: #FFD700;
	 font-size: large;
	 font-weight: bold;
	 text-decoration: none;
}

nav a:hover{

	color: #000000;
	transition: 0.7s;
}



.informaci贸n{

	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.titulos{

	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
}

.informaci贸n p{

	margin: 0 0 1em;

}

.informaci贸n strong {
	font-weight: bold;
}

.informaci贸n em{

  font-style: italic;
  
}

.contenido-diferenciales{

 width: 800px;
 margin: 0  450px;

}

.lista {
	width: 40%;
  display: inline-block;
  vertical-align: top;
 
}

.titulo-secundario{

	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
 font-weight: bold;
 padding: 1em;

}



.items{
  font-weight: bold;
	line-height: 1.5;
	padding: 5px;

	

}

.items:before {

	content:"";
}

}